<style>
    .backbox{
        background-color: rgba(129, 86, 209, 0.952);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .frontbox{
        background-color: hwb(143 13% 84%);
        width: 600px;
        height: auto;
        border-radius: 25px;

    }
</style>

<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="/javascripts/project.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    
        <form action="/movie/movie_submit" method="post" enctype="multipart/form-data">
         <div class="backbox">
            <div class="frontbox">
                <div class="row">
                    <div class="col col-md-4">
                    <center><img src='/images/movie.jpg' width="50" style="padding: 4;"></center>
                    </div>
                
                    <div class="col col-md-6">
                    <h4 style="padding: 4;" ><font color="green">Movie Details </font></h4>
                    </div>

                    <div class="col col-md-2">
                        <a href="/movie/display_all_movies"> <img src='/images/list.png' width="50" style="padding: 4;"></a>
                         </div>
                </div>
                
                
                <div class="container text-center">

                    <div class="row" style="padding: 10px;">                                        
                           <div class="col col-md-6">                          
                                <div class="mb-3">                    
                                    <input type="text" class="form-control" id="moviename" placeholder="Movie Name" name="moviename">
                                </div>           
                            </div>                                                          
                            <div class="col col-md-6">                          
                                <div class="mb-3">                    
                                  <input type="date" class="form-control" id="date" placeholder="Date" name="date">
                                </div>           
                            </div>
                    </div>


                    <div class="row" style="padding: 10px;">                                        
                        <div class="col col-md-6">                          
                             <div class="mb-3">                    
                                <select class="form-select" id="state" name="state">
                                    <option selected>-Select States-</option>
                                </select>
                             </div>           
                         </div>                                                          
                         <div class="col col-md-6">                          
                             <div class="mb-3">                    
                                <select class="form-select" id="city" name="city">
                                    <option selected>-Select City-</option>                                   
                                  </select>
                             </div>           
                         </div>
                 </div>

                 <div class="row" style="padding: 10px;">                                        
                    <div class="col col-md-12">                          
                         <div class="mb-3">                    
                             <input type="text" class="form-control" id="description" placeholder="Enter Description" name="description">
                         </div>           
                     </div>   
                 </div>


                 <div class="row" style="padding: 10px;">                                        
                    <div class="col col-md-4">                          
                         <div class="mb-3"> 
                            <select class="form-select" id="cinema" name="cinema">
                                <option selected>Cinema</option>
                                <option >INOX</option>
                                <option >PVR</option>
                                <option >FUN</option>
                                <option >GOLD</option>
                              </select>
                         </div>           
                     </div>
                     <div class="col-md-4"> 
                         
                      </div>
                     <div class="col col-md-4">                          
                        <div class="mb-3"> 
                           <select class="form-select" id="rating" name="rating">
                               <option selected>IMDB Rating</option>
                               <option >*</option>
                               <option >**</option>
                               <option >***</option>
                               <option >****</option>
                               <option >*****</option>
                             </select>
                        </div>           
                    </div>
             </div>  


             <div class="row" style="padding: 10px;">
                <div class="col-md-12">
                    <div class="mb-3">
                        <input class="form-control" type="file" id="moviepicture" name="moviepicture">
                      </div>
                </div>
            </div>



            <div class="row" style="padding: 10px;">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-outline-warning">Submit</button>
                </div>
            
                <div class="col-md-6">
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="mb-12" style="margin-top: 10px; text-align: center;color: hsla(251, 100%, 50%, 0.968);">
                    <% if (status==2){%>
                         <h3> Product Details Submitted </h3>
                        <% } else if (status==1) { %>
                            <h3>Not Submitted</h3>
                            <% } %>
                </div>
            </div>
                            
                
                </div>
            </div>
         </div>
        </form>
        
</html>